<section class="home-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">

                <h1 class="app-title">Eat-Da-Burger!</h1>

                <input type="text" rows="4" id="type-burger">

                </input>
                <br>
                <input type="submit" id="submit-burger">
                <p>Enter the burger that you want to eat and click the 'Submit' button.</p>

            </div>
        </div>
    </div>
</section>

<section class="burgers">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3 burger-items">
                
                <h2 class="burger-titles">Burgers Ready to Eat!</h2>

                <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                        {{/unless}}
                    {{/each}}
                </ul>

                <h2 class="burger-titles">Burgers Eaten</h2>

                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                        {{> burgers/burger-block devoured=true}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</section>


{{!-- <script type="text/javascript">
$( document ).ready(function() {
  $('#submit-burger').on('click',function(event){
    event.preventDefault();
    var newBurger = {
        burger_name: $('#type-burger').val().trim(),
        devoured : false
    }
    $.ajax('/api/burgers',{
    type:'POST',
    data: newBurger
    }).then(
    function(){
      console.log('created new burger');

      location.reload();
    });
  })

  $('.devour-btn').on('click',function(event){
    var id = $(this).data('id');

    var newDevour = {
      devoured: true
    };
    console.log(id);
    
    $.ajax('/api/burgers/'+id,{
      type: 'PUT',
      data: newDevour
    }).then(
      function(){
        console.log('devoured',id);
        location.reload();
      });
  });
});
</script> --}}